version: "3"

services:
  watcher: &watcher
    image: vedantrathore/chowkidar-agent:${VERSION}
    container_name: chowkidar-agent-watcher
    depends_on:
      - redis
    volumes:
      - ${SSH_AUTH_LOG_FILE_DIR}${SSH_AUTH_LOG_FILE_NAME}:/app/src/${SSH_AUTH_LOG_FILE_NAME}
    env_file:
      - /opt/packages/chowkidar/releases/env-{{ TAG }}
    command: /start-watcher

  redis:
    image: redis:5.0
    container_name: redis

  celeryworker:
    <<: *watcher
    container_name: chowkidar-agent-worker
    command: /start-celery
