amqp==5.0.2
astroid==2.4.2
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
environs==9.3.0
isort==5.7.0
kombu==5.0.2
lazy-object-proxy==1.4.3
marshmallow==3.10.0
mccabe==0.6.1
prompt-toolkit==3.0.8
pylint==2.6.0
python-dotenv==0.15.0
pytz==2020.5
redis==3.5.3
six==1.15.0
toml==0.10.2
vine==5.0.0
watchdog==1.0.2
wcwidth==0.2.5
wrapt==1.12.1
